<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!--<a th:href="@{/test2/index}">链接</a>-->
<!--<a th:href="@{/paramTest(username=111)}">paramTest1</a>-->
<!--<a th:href="@{/paramTest?username=222}">paramTest1</a>-->
<!--<a th:href="@{/paramTest?username=111&password='aaa'}">paramTest1</a>-->
<!--<a th:href="@{/paramTest?username=111&password='bbb'}">paramTest1</a>-->
<!--<a th:href="@{/aaa/index}">连接</a>-->
<a th:href="@{/test/1/July}">测试</a>
</body>
</html>